:root {
  --primary-text-color: #757575;
  --hero-text-color: #ffffff;
  --title-text-color: #212121;
  --logo-text-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --background-team-color: #f5f4fa;
  --background-color: #2f303a;
  --background-section-color: #ffffff;
  --button-portfolio-color: #f5f4fa;
  --container-bg-color: #FFFFFF;
  --container-border-color: #EEEEEE;
  --primary-font-family: 'Roboto', sans-serif;
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-section-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  /* line-height: 1.71; */
  letter-spacing: 0.03em;
}

/* header */
.logo {
  color: var(--logo-text-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

/* site nav */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border: 0;
  outline: 0;
}

.site-nav .link,
.contacts .mail,
.contacts .phone {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.link-active {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
}

.site-nav .link:hover,
.contacts .mail:hover,
.contacts .phone:hover {
  color: var(--accent-color);
}

.site-nav .link:focus,
.contacts .mail:focus,
.contacts .phone:focus {
  color: var(--accent-color);
}

.contacts .mail,
.contacts .phone {
  color: var(--primary-text-color);
}

/* hero */
.hero {
  background-color: var(--background-color);
  /* max-width: 1600; */
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  width: 696px;
  height: 120px;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* Benefits */
.benefits {
  font-weight: 700;
}

.benefits-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list .title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.benefits-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* What do we do */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* team */
.team {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list .position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* footer */
footer {
  background-color: var(--background-color);
}

.logo-footer {
  color: var(--hero-text-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  ;
}

.site-footer .adress,
.site-footer .mail,
.site-footer .phone {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
}

.site-footer .adress {
  color: var(--hero-text-color);
  font-style: normal;
}

.site-footer .mail,
.site-footer .phone {
  color: var(--footer-text-color);
  font-style: normal;
}

.site-footer .adress:hover,
.site-footer .mail:hover,
.site-footer .phone:hover {
  color: var(--accent-color);
}

.site-footer .adress:focus,
.site-footer .mail:focus,
.site-footer .phone:focus {
  color: var(--accent-color);
}

/* Портфолио */
.works-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.works-buttons {
  color: var(--title-text-color);
  background-color: var(--background-team-color);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-buttons:hover {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}

.works-buttons:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}

.works-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.works-list .text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}